.color-brown {
    color: #603b2d;
}
.color-green {
    color: #018e0a;
}
.color-yellow {
    color: #878600;
}
.color-red {
    color: #b71c1c;
}
.skin-red .main-sidebar, .skin-red .left-side {
    background-color: #7f0000;
}

.skin-red .sidebar-menu>li:hover>a, .skin-red .sidebar-menu>li.active>a {
    color: #fff;
    background: #7f0000;
    border-left-color: #f05545;
}


.skin-red .treeview-menu>li>a {
    color: #b8c7ce;
    background-color: #9e2317;
}

.skin-red .main-header .navbar {
    background-color: #b71c1c;
}
.skin-red .main-header .logo {
    background-color: #6d0202;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.bg-mrx-red, .modal-info .modal-header, .modal-info .modal-footer {
    background-color: #b71c1c !important;
}
.text-black {
    color: #000000;
}
.box {
    border-top-color: #b71c1c;
}.box.box-default {
    border-top-color: #b71c1c;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 110px;
    background-color: #b71c1c;
}

.modal-header {
    background-color: #b71c1c;
}


.skin-red .main-header li.user-header {
    background-color: #7f0000;
}
.mrx-center {
    text-align: center;
}
.is-name {
    padding-top: 5px;
}
.is-nim {
    padding-top: 10px;
}
.widget-user .box-footer.is-footer{
    padding-top: 5px;
    padding-bottom: 5px;
}
